:root {
  --main-title-color: #ffffff;
  --plus-text-color: #ffffff;
  --second-bg-color: #2f303a;
  --portfolio-button-color: #f5f4fa;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --footer-clor-contact: rgba(255, 255, 255, 0.6);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--second-text-color);
}
/* стилизация логотипа */
.firs-text-logo {
  text-align: inherit;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.second-text-logo {
  text-align: inherit;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
/* стили навигации сайта */
.header-list.header-item {
  text-align: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.header-list .header-item .current {
  color: var(--accent-color);
}
.header-list .header-item > a:hover,
.header-list .header-item > a:focus {
  color: var(--accent-color);
}

/*стили контактов*/
.header-contact-item > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-contact-item > a:hover,
.header-contact-item > a:focus {
  color: var(--accent-color);
}
/* стилизация секции hero */
.hero-section {
  background-color: var(--second-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.button {
  background-color: var(--accent-color);
  color: var(--main-title-color);
  cursor: pointer;
}
/* преимущества */
.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
/* чем мы занимаемся */
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/* наша команда */
.staff-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.staff-profesional {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
/* футер */
.dovn {
  background-color: var(--second-bg-color);
}
.second-text-logo-footer {
  text-align: inherit;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.location {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--plus-text-color);
}
.footer-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--footer-clor-contact);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
/* портфолио */

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-button-color);
  color: var(--second-text-color);
  cursor: pointer;
}
.navigation-list .current {
  background-color: var(--accent-color);
  color: var(--plus-text-color);
}
/* все пункты портфолио */
.img-title-work {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.name-work {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
